@model SistemaSetorTecnico.Models.Recoleta

@{
    ViewData["Title"] = "Deletar Recoleta";
}

<h1>Deletar</h1>

<h3>Você tem certeza que deseja deletar isso?</h3>
<div>
    <h4>Recoleta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TecnicoResponsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TecnicoResponsavel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRecoleta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRecoleta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalRecoleta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalRecoleta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroOS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroOS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotivoRecoleta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotivoRecoleta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaboratorioApoio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaboratorioApoio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BioquimicoResponsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BioquimicoResponsavel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataContato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataContato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColetaConcluida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColetaConcluida)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
